$main: #5a6e8c;
$mainHover: #90acd6;
$mainHoverDark: #3c5780;
$dark: #202020;
$white: #fff;
$quizBox: #292929;
$quizHover: #3d3d3d;
$shield: #6facfc;
$star: #fff3bd;
$correct: #99e86b;
$wrong: #e86b6b;
$glowingBorder: rgba(255, 247, 209, 0.7);
$glow: #fff4bd;
$glowInset: #00bfff;
$timer: #666;
$timeout: #fcbd47;